<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" media="screen" href="~/css/StyleSheet.css" />
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <div></div>
    <footer style="text-align: center;">Otto Rinaldo's Cinema - @DateTime.Now.Year</footer>
</body>
</html>